= semantic_form_for([:admin, @trophy_event]) do |f|
  = render 'layouts/error_messages', :target => object
  %fieldset
    %ul
      = f.input :name
      = f.input :year
      = f.input :event_type, :as => :select, :collection => TrophyEvent::EVENT_TYPES
      
  %fieldset
    %ul= f.commit_button f.object.new_record? ? 'Save' : 'Update', :button_html => { :id => nil }
