%h1 Duplicate Trophy Events From #{@year}

= form_tag '' do
  %p
    = label_tag :to_year, 'Duplicate to year...'
    = text_field_tag :to_year, @to_year, size: 4, :style => 'width: auto;'
  %p= submit_tag 'Duplicate'