= semantic_form_for(@bs_ad) do |f|
  = render 'layouts/error_messages', :target => object
  %fieldset
    %ul
      = f.hidden_field :are_you_human, :class => 'human_check'
      = f.input :name, :label => 'Item'
      = f.input :ad_type, :as => :select, :collection => BsAd::AD_TYPES, :include_blank => false
      = f.input :category, :as => :select, :collection => BsAd::CATEGORIES, :include_blank => false
      = f.input :location
      = f.input :price, :hint => "Just the number please - E.g. '200.00' instead of '€200 or best offer'"
      = f.input :currency, :as => :select, :collection => BsAd::CURRENCIES, :include_blank => false
      = f.input :description, :input_html => {:rows => 10, :cols => 50}
      = f.input :photo
      = image_tag @bs_ad.photo.url(:thumb) if @bs_ad.photo.exists?
      = f.input :doc
      = link_to "Current document", @bs_ad.doc.url if @bs_ad.doc.exists?
      = f.input :contact_name
      = f.input :contact_email

  %fieldset
    %ul= f.commit_button f.object.new_record? ? 'Save' : 'Update', :button_html => { :id => nil }