= semantic_form_for [:admin, @order], :html => {:multipart => true} do |f|
  = render 'layouts/error_messages', :target => object
  %ul
    = f.input :reference
    = f.input :member_name
    = f.input :email
    = f.input :member_id
    = f.input :payment_status
    = f.input :comment, :as => :text

    = f.commit_button (f.object.new_record? ? 'Add order' : 'Edit order')
