%ul#actions
  %li= link_to 'Upcoming List', admin_crane_hire_bookings_path, :class => 'visit_icon'
  %li= link_to 'Full List', full_list_admin_crane_hire_bookings_path, :class => 'visit_icon'
  %li= link_to 'Payment List', payment_list_admin_crane_hire_bookings_path, :class => 'visit_icon'
  %li= link_to 'Add new booking', new_object_path, :class => 'add_icon'
  %li= link_to 'Public Hire form', new_crane_hire_booking_path, :class => 'visit_icon'
  %li= link_to 'View Pricing', admin_crane_hire_prices_path, :class => 'visit_icon'