%h1= @page_name = 'Signup'

= semantic_form_for @user, :url => '' do |f|
  = render 'layouts/error_messages', :target => @user
  %ul
    = f.input :login
    = f.input :email, :as => :string
    = f.input :password
    = f.input :password_confirmation

    = f.commit_button 'Sign up'   
