%h1 Rigs

%ul#actions
  %li= link_to 'Add new rig', new_object_path, :class => 'add_icon'

= paginated_section collection do
  %table.index
    %tr
      %th Name
      %th Actions
    - @rigs.each do |rig|
      %tr{:class => cycle('odd', 'even')}
        %td= rig.name
        %td(nowrap="nowrap")
          = link_to 'Edit', edit_object_path(rig), :class => 'inline_edit_icon'
          = link_to 'Delete', object_path(rig), :confirm => 'Are you sure?', :method => :delete, :class => 'inline_delete_icon'
