!!!
%html(lang='en')
  %head
    %meta(charset='UTF-8')
    %title= get_title
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Droid+Sans:400,700'
    = stylesheet_link_tag 'base', :media => nil
    - unless controller_name == 'welcome' && action_name == 'index'
      = stylesheet_link_tag 'followon', :media => nil
    -#= stylesheet_link_tag (@stylesheets || []).to_a
    = javascript_include_tag 'base'
    - unless controller_name == 'welcome' && action_name == 'index'
      = javascript_include_tag 'followon'
    -#= javascript_include_tag (@javascripts || []).to_a
    = render 'layouts/meta_tags'
    = yield :head
    = render 'layouts/google_analytics'
  %body{:id => "body-#{controller_name.dasherize.parameterize}-#{@page ? @page.code : action_name.dasherize.parameterize}", :class => "controller-#{controller_name.dasherize.parameterize} action-#{action_name.dasherize.parameterize}"}
    %a#top
    = render 'layouts/old_browser'
    #primary-wrapper
      #secondary-wrapper
        = render 'layouts/flash_messages'
        #header
          #logo= link_to image_tag('logo.png', :alt => get_site_name), main_app.root_path
          = render 'navbars/main'
          #user_and_search_bar
            = render 'search/search_box'
            = render 'navbars/userbar'
          -#= render 'layouts/social_media_links'
        -#- if controller_name == 'welcome'
        -#  = render 'misc/carousel_box'
        #main-content
          - if content_for? :breadcrumbs
            #breadcrumbs
              %ul#breadcrumbs
                %li= link_to 'Home', :root
                = yield :breadcrumbs
          - if content_for? :sidebar
            #sidebar= yield :sidebar
            #main-content-inner= yield
          - elsif @no_sidebar # please put in some padding for me
            #main-content-inner.no_sidebar= yield
          - else # i want total control
            = yield
        #footer
          #newsletter_signup= render :partial => 'subscriptions/subscription_box'
          #contact_details= render :partial => 'layouts/contact_details'
        #copyright-credits
          #sitemap= link_to 'Sitemap >', main_app.url_for(:controller => '/misc', :action => 'sitemap', :only_path => true)
          #registration_details Registered in the Republic of Ireland. Registered No. 81187
          #credits &copy; #{get_organisation_name} #{Time.now.year} | #{link_to 'web design', 'http://www.lucidity.ie/web-design'} &amp; #{link_to 'seo company', 'http://www.lucidity.ie/seo-search-engine-optimisation'} - Isobar
