!!!
%html(lang='en' class="print-layout")
  %head
    %meta(charset='UTF-8')
    %title= get_title
    = stylesheet_link_tag 'admin/base'
    = stylesheet_link_tag 'admin/followon'
  %body{:id => "body-#{controller_name.dasherize.parameterize}-#{@page ? @page.code : action_name.dasherize.parameterize}", :class => "print-layout controller-#{controller_name.dasherize.parameterize} action-#{action_name.dasherize.parameterize}"}
    = yield